.showcase {
  .showcase-text {
    padding: 3rem;
    overflow-wrap: break-word;
    overflow: hidden;
    h2{
      text-align: center;
      a{
        color: $gray-600;
      }
    }

  }
  .showcase-img {
    min-height: 30rem;
    background-position: center;
    background-size: cover;
  }

  @media (min-width: 768px) {
    .showcase-text {
      padding: 1rem;
    }
  }
}
