<div class="modal" id="contactformModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <div class="bg-info text-white text-center py-2 w-100">
                    <h3><i class="fa fa-envelope"></i> Contact</h3>
                    <p class="m-0">Send us a mail</p>
                </div>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                {% include "Includes/ContactForm.twig" %}

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">

                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>