<!-- Masthead -->
<div class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div id="jumboCarousel" class="carousel slide" data-ride="carousel">


                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="col-xl-9 mx-auto">
                            <h1 class="mb-5 animated fadeInDown" style="animation-delay: 0.3s">Testing some text with a background image</h1>
                            <h2 class="animated fadeInUp" style="animation-delay: 0.5s">Test</h2>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-xl-9 mx-auto">
                            <h1 class="mb-5 animated zoomIn" style="animation-delay: 0.3s">Testing some short text</h1>
                            <h2 class="animated flipInY" style="animation-delay: 0.5s">Test extra</h2>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-xl-9 mx-auto">
                            <h1 class="mb-5 animated flipInX" style="animation-delay: 0.3s">Testing some text with a background image and a realy long text</h1>
                            <h2 class="animated jackInTheBox" style="animation-delay: 0.5s">Testing</h2>
                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#jumboCarousel" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#jumboCarousel" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>

            </div>
            <!--<div class="col-xl-9 mx-auto">
                <h1 class="mb-5">Testing some text with a background image</h1>
            </div>-->
        </div>
    </div>
</div>