<form id="login" action="login/connection" method="post" onsubmit="userLogin()">
    <div class="form-group">
        <label for="login-email" class="cols-sm-2 control-label">Your Email</label>
        <div class="cols-sm-10">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                </div>
                <input type="text" class="form-control" name="login-email" id="login-email"
                       placeholder="Enter your Email"/>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="login-password" class="cols-sm-2 control-label">Password</label>
        <div class="cols-sm-10">
            <div class="input-group">
                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-lock fa-lg"
                                                                      aria-hidden="true"></i></span>
                </div>
                <input type="password" class="form-control" name="login-password" id="login-password"
                       placeholder="Enter your Password"/>
            </div>
        </div>
    </div>
    <div class="forgot">
        <a href="reset.html">Forgot password?</a>
    </div>
    <button type="submit" class="btn btn-primary w-100 mt-3">Login</button>
    <br>
    <a class="btn btn-secondary w-100 mt-3" href="/login/register" {{ not onRegistrationPage ? "data-toggle=\"modal\" data-target=\"#registerModal\"" : "" }}>No account? Register here</a>


</form>