<div class="modal" id="registerModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Register</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                {% include "Includes/Register-form.twig" %}
            </div>
        </div>
    </div>
</div>


<div class="modal" id="connectModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Login</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                {% include "Includes/logon-form.twig" %}
                <hr>
                <p>
                    <a class="btn btn-primary" href="/login/connect-admin">Admin Test</a>
                    -<a class="btn btn-primary" href="/login/connect-user">User Test</a>
                    -<a class="btn btn-primary" href="/login/disconnect">Logout</a>
                    -<a class="btn btn-primary" href="/login/whoami">WhoAmI</a>
                    -<a class="btn btn-primary" href="/admin">Admin</a>
                </p>
            </div>

        </div>

    </div>
</div>

{% include "Includes/Logout-Modal.twig" %}