<div class="modal" id="registerModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Register</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                {% include "Includes/Register-form.twig" %}
            </div>
        </div>
    </div>
</div>


<div class="modal" id="connectModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Login</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                {% include "Includes/Logon-form.twig" %}
            </div>

        </div>

    </div>
</div>

{% include "Includes/Logout-Modal.twig" %}
