<div class="form-group">
    <label for="password" class="cols-sm-2 control-label">Password</label>
    <div class="cols-sm-10">
        <div class="input-group">
            <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-lock fa-lg"
                                                                      aria-hidden="true"></i></span>
            </div>
            <div class="input-group-prepend" id="forgotPasswordShow">
                    <span class="input-group-text text-primary"><i class="fa fa-eye fa-lg"
                                                                   aria-hidden="true"></i></span>
            </div>
            <input type="password" class="form-control" name="forgotPassword" id="forgotPassword"
                   placeholder="Enter your Password"
                   aria-describedby="forgotPasswordHelpBlock"/>

            <small id="forgotPasswordHelpBlock" class="form-text text-danger w-100 pl-3">
                {{ registrationErrors.forgotPassword }}
            </small>
        </div>
    </div>
</div>

<div class="form-group">
    <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
    <div class="cols-sm-10">
        <div class="input-group">
            <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-lock fa-lg"
                                                                      aria-hidden="true"></i></span>
            </div>
            <div class="input-group-prepend" id="forgotPasswordConfirmShow">
                    <span class="input-group-text text-primary"><i class="fa fa-eye fa-lg"
                                                                   aria-hidden="true"></i></span>
            </div>
            <input type="password" class="form-control" name="forgotConfirm" id="forgotConfirm"
                   placeholder="Confirm your Password" aria-describedby="forgotConfirmHelpBlock"/>
            <small id="forgotConfirmHelpBlock" class="form-text text-danger w-100 pl-3">
                {{ registrationErrors.forgotConfirm }}
            </small>
        </div>
    </div>
</div>