composer.phar
/vendor/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

/node_modules
/.idea
/Cache/**/
!/Cache/index.php
public/uploaded_images/tournesol.jpg
public/uploaded_images/Scotty Rock 1.jpg
public/uploaded_images/haddock.jpg
