.socialicon{
	list-style-type: none;
	display: inline-block;
	margin: 0;
	padding-left: 11.2%;
	width: 50%; /*Chrome bug Fix where the last icon was being sent down a line*/
}
.socialicon>li{
	float: left;
	padding-top: 2px;

}
.socialicon>li>a{
	padding-right: 10px;
	color: #fff;
	text-decoration: none;
}
.socialicon>li>a:hover{
	color: #C59E47;

}

nav.top_menu>ul{
	list-style-type: none;
	margin: 0;
	padding-right: 50px;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

@media (min-width: 768px) {
	nav.top_menu>ul{
		flex-direction: row;
		justify-content: flex-end;
		margin-top: 60px;
	}
}

nav.top_menu>ul>li{
	float: left;
	padding-top: 2px;
	padding-bottom:15px;
	margin-right:10px;
	margin-left: 10px;
	display: flex;
	justify-content: center;


}

nav.top_menu>ul>li>a{
	text-align: center;
	padding: 0 5px 10px 5px;
	color: #000;
	text-decoration: none;

}

nav.top_menu>ul>li>a:hover{
	margin-top: -1px;
	border-bottom: 1px solid #1e2edb;
}


.front_jumbo{
	background-image: url("http://via.placeholder.com/250x250");
	background-size: cover;
 	min-height: 350px;
	background-position: center;
	text-align: center;
}

@media (min-width: 768px) {
	.logo{
		position: absolute;
    	float: left;
    	z-index: 999;
    	padding-top: 9px;
		margin-top: -90px;
		margin-left: 60px;
	}
}

.logo {
	display: flex;
	justify-content: center;
}

.logo img{
	border: 1px solid black;
	max-width: 200px;
}

footer{
	color: #fff;
}