#mainNav {
  position: absolute;
  border-bottom: 1px solid #e9ecef;
  background-color: white; }
  #mainNav .navbar-brand {
    font-weight: 800;
    color: #343a40; }
  #mainNav .navbar-toggler {
    font-size: 12px;
    font-weight: 800;
    padding: 13px;
    text-transform: uppercase;
    color: #343a40; }
  #mainNav .navbar-nav > li.nav-item > a {
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase; }
  @media only screen and (min-width: 992px) {
    #mainNav {
      border-bottom: 1px solid transparent;
      background: transparent; }
      #mainNav .navbar-brand {
        padding: 10px 20px;
        color: #868e96; }
        #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
          color: rgba(0, 133, 161, 0.8); }
      #mainNav .navbar-nav > li.nav-item > a {
        padding: 10px 20px;
        color: #868e96; }
        #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
          color: rgba(0, 133, 161, 0.8); } }
  @media only screen and (min-width: 992px) {
    #mainNav {
      -webkit-transition: background-color 0.2s;
      -moz-transition: background-color 0.2s;
      transition: background-color 0.2s;
      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden; }
      #mainNav.is-fixed {
        /* when the user scrolls down, we hide the header right above the viewport */
        position: fixed;
        top: -67px;
        -webkit-transition: -webkit-transform 0.2s;
        -moz-transition: -moz-transform 0.2s;
        transition: transform 0.2s;
        border-bottom: 1px solid white;
        background-color: rgba(255, 255, 255, 0.9); }
        #mainNav.is-fixed .navbar-brand {
          color: #212529; }
          #mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover {
            color: #0085A1; }
        #mainNav.is-fixed .navbar-nav > li.nav-item > a {
          color: #212529; }
          #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
            color: #0085A1; }
      #mainNav.is-visible {
        /* if the user changes the scrolling direction, we show the header */
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0); } }

div.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem; }
  div.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3; }
  div.masthead h1 {
    font-family: "Merienda", cursive;
    font-size: 2rem; }
  div.masthead h2 {
    font-family: "Forum", cursive;
    font-size: 1rem; }
  div.masthead #jumboCarousel {
    width: 100%;
    height: 10rem; }
  @media (min-width: 768px) {
    div.masthead {
      padding-top: 12rem;
      padding-bottom: 12rem; }
      div.masthead h1 {
        font-size: 3rem; }
      div.masthead h2 {
        font-size: 2rem; } }

/*Top margin if no jumbotron*/
.menuPadder {
  margin-top: 4rem; }

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem; }
  .features-icons h3 {
    font-family: "Merienda", cursive; }
  .features-icons p {
    font-family: "Forum", cursive; }
  .features-icons .features-icons-item {
    max-width: 20rem; }
    .features-icons .features-icons-item .features-icons-icon {
      height: 7rem; }
      .features-icons .features-icons-item .features-icons-icon i {
        font-size: 2rem; }
    .features-icons .features-icons-item .social-icon i {
      padding-right: 1rem; }
    .features-icons .features-icons-item .about-me img {
      height: 7rem; }

.showcase .showcase-text {
  padding: 3rem;
  overflow-wrap: break-word;
  overflow: hidden; }
  .showcase .showcase-text h2 {
    text-align: center; }
    .showcase .showcase-text h2 a {
      color: #868e96; }

.showcase .showcase-img {
  min-height: 30rem;
  background-position: center;
  background-size: cover; }

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 1rem; } }

/* Taken from hover.css */
/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden; }

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0; }

/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36); }

article.category-listing {
  border: 1px solid #eee;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #e9ecef;
  height: 100%;
  overflow: hidden;
  padding-bottom: 15px; }
  article.category-listing .entry-title {
    color: #868e96; }
    article.category-listing .entry-title a, article.category-listing .entry-title a:hover, article.category-listing .entry-title a:visited {
      color: #868e96;
      text-decoration: none; }
  article.category-listing .postThumbnail {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }

img.author-image {
  max-width: 150px;
  max-height: 150px; }

.pagination p {
  width: 100%; }

.single-post h1, .single-post h2 {
  color: #495057; }

.single-post .post-info a {
  color: #868e96; }

.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1; }
  .chip, .chip a {
    color: #495057; }
  .chip .closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer; }
  .chip .closebtn:hover {
    color: #000; }

#register label.error, #forgot label.error, #updateUser label.error {
  width: 100%;
  color: #ffc107;
  padding-left: 1rem; }
