{% extends "Admin/Base.twig" %}

{% block title %}Admin Tags{% endblock %}

{% block main %}
    <h1>Tag List</h1>
    <div class="row">
        <div class="col">
            Name
        </div>

        <div class="col">
            Links
        </div>
    </div>
    {% for tag in posts %}
        <form action="/admin/tag/update" method="post" onsubmit="ajaxSave(event, this)">
            <div class="row mt-3">
                <div class="col">
                    <input type="hidden" value="{{ tag.idtags }}" name="idtags">
                    <input type="text" value="{{ tag.tag_name }}" name="tag_name"
                           class="w-100 categoryNameInput">
                </div>
                <div class="col">
                    <a href="/tag/posts/{{ tag.idtags }}" class="btn btn-success"><i
                                class="fa fa-eye" aria-hidden="true"></i></a>
                    <button type="submit" class="btn btn-warning"><i class="fa fa-floppy-o" aria-hidden="true"></i>
                    </button>
                    <a href="/admin/tag/delete/{{ tag.idtags }}" class="btn btn-danger"><i
                                class="fa fa-trash" aria-hidden="true" onclick="ajaxDelete(event, this)"></i></a>
                </div>
            </div>
        </form>
    {% endfor %}

    {% include "Includes/Pagination.twig" with {'pagination': pagination, 'pageUrl' :'/admin/tag/list', paginationPostsPerPage: paginationPostsPerPage} %}

{% endblock %}

{% block js %}

    <script>

        setupAjax();
        //Add a new tag
        $("#addNewTag").click(function () {
            $htmlForm = "<form action=\"/admin/tag/new\" method=\"post\" onsubmit=\"ajaxNew(event, this)\">\n" +
                "            <div class=\"row mt-3\">\n" +
                "                <div class=\"col\">\n" +
                "                    <input type=\"text\" name=\"tag_name\" class=\"w-100 tagNameInput\">\n" +
                "                </div>\n" +
                "                <div class=\"col\">\n" +
                "                    <button type=\"submit\" class=\"btn btn-warning\"><i class=\"fa fa-floppy-o\" aria-hidden=\"true\"></i></button>\n" +
                "                </div>\n" +
                "            </div>\n" +
                "        </form>";
            $(this).before($htmlForm);
        });

        //Ajax save call
        function ajaxSave($e, $this) {
            var $that = jQuery($this);
            $e.preventDefault();
            $e.stopPropagation();
            var $data_json = JSON.stringify($that.serializeArray());
            $.ajax({
                url: "/ajax/tag/update",
                data: {'tag-update': $data_json},
            }).done(function ($result) {
                setupToastr();
                if ($result['success']) {
                    toastr.success('update Ok');
                    $that.find("button>i").first().after("<i class=\"fa fa-check\" aria-hidden=\"true\"></i>");
                } else {
                    toastr.Warning('Update has errors');
                    $that.find("button>i").first().after("<i class=\"fa fa-cross\" aria-hidden=\"true\"></i>");
                }
            });
        }

        //Ajax delete call
        function ajaxDelete($e, $this) {
            $e.preventDefault();
            $e.stopPropagation();
            var $that = jQuery($this).parents("form").first();
            var $data_json = JSON.stringify($that.serializeArray());
            console.log($data_json);
            $.ajax({
                url: "/ajax/tag/delete",
                data: {'tag-delete': $data_json},
            }).done(function ($result) {
                setupToastr();
                if ($result['success']) {
                    toastr.success('Delete Ok');
                    $that.fadeOut("slow");
                } else {
                    toastr.Warning('Error deleting');
                }
            });
        }
    </script>

{% endblock %}