{% extends "Admin/Base.twig" %}

{% block main %}
<form action="/admin/new/post" method="post">

    <div class="row">
        <div class="form-group col-8">
            <textarea id="newPostTextArea"></textarea>
        </div>
        <div class="form-group col-4">
            <label for="categorySelector">Select a category</label>
            <select name="categorySelector" id="categorySelector" class="form-control">
                {% for category in categories %}
                    <option value="{{ category.idcategories }}">{{ category.category_name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

</form>
{% endblock %}

{% block js %}
<script>
    setupTinymce("#newPostTextArea");
</script>

{% endblock %}