{% extends "Admin/Base.twig" %}

{% block main %}
<form action="/admin/new/post" method="post">
    <select name="Categories">
        {% for category in categories %}
            <option value="{{ category.idcategories }}">{{ category.category_name }}</option>
        {% endfor %}
    </select>
    <textarea id="newPostTextArea"></textarea>
</form>
{% endblock %}

{% block js %}
<script>
    setupTinymce("#newPostTextArea");
</script>

{% endblock %}