{% extends "base.twig" %}

{% block title %}Error 404{% endblock %}

{% block main %}
    <h1>Oups something went wrong, Page not found</h1>
    {% include "Includes/error-message.twig" %}
{% endblock %}