{% extends "base.twig" %}

{% block title %}Internal Error{% endblock %}

{% block main %}
    <h1>Oups something went wrong, Internal error</h1>
    {% include "Includes/error-message.twig" %}
{% endblock %}