{% extends "Base.twig" %}

{% block title %}posts by {{ not user.username ? "Deleted user" : user.username }}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-12 text-center">

            <h1 class="text-center mb-3">
                <img class="img-fluid rounded-circle mr-2 author-image" src="{{ not user.avatar ? configs.no_image_replacement : user.avatar }}">
                posts by {{ not user.username ? "Deleted user" : user.username }}
            </h1>
        </div>

    </div>
    {% include "Includes/Listing-posts.twig" with {'posts': posts} %}
    {% include "Includes/Pagination.twig" with {'pagination': pagination, 'pageUrl' :'/author/posts/'~authorId} %}
{% endblock %}

{% block js %}
{% endblock %}