{% extends "Base.twig" %}

{% block title %}Category Page{% endblock %}

{% block main %}
    {% for post in posts %}
        <p>{{ post.title }} <a href="/admin/post/modify/{{ post.posts_slug }}">mod</a> </p>
    {% endfor %}
{% endblock %}

{% block js %}
{% endblock %}