{% extends "Base.twig" %}

{% block title %}Register to the site{% endblock %}

{% block main %}
    <div class="row justify-content-lg-center mb-3">
        <div class="col-lg-6">
            {% include "Includes/Register-form.twig" %}
        </div>
    </div>
{% endblock %}