{% extends "Base.twig" %}

{% block title %}{% endblock %}

{% block main %}
<form id="forgot" action="/password/reset-password" method="post">
<input type="hidden" value="{{ token }}" name="token" id="token">
<input type="hidden" value="{{ userId }}" name="userId" id="userId">
    <div class="row justify-content-lg-center mb-3">
        <div class="col-lg-6">
            {% include "Includes/ResetPassword-form.twig" %}
            <button type="submit" class="btn btn-primary w-100 mt-3">Reset Password</button>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        //adding some Jquery Validation plugin scripts to validate the register form
        $.validator.addMethod("validPassword",
            function (value, element, param) {
                if (value != "") {
                    if (value.match(/.*[A-Za-z]+.*/i) == null) {
                        return false;
                    }
                    if (value.match(/.*\d+.*/i) == null) {
                        return false;
                    }
                }

                return true;
            },
            "Must contain at least one letter and one number"
        );
        $("#forgot").validate({
            rules: {
                forgotPassword: {
                    required: true,
                    minlength: 8,
                    validPassword: true
                },
                forgotConfirm: {
                    equalTo: "#forgotPassword"
                }
            }
        });
        $("#forgotPasswordShow").click(function () {
            $("#forgotPassword").hideShowPassword('toggle');
        });

        $("#forgotPasswordConfirmShow").click(function () {
            $("#forgotConfirm").hideShowPassword('toggle');
        });

    </script>

{% endblock %}